@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}


.header {
  height: 100vh;
  background-image: url("../public/globe.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
